NEXT_PUBLIC_FIREBASE_API_KEY	AIzaSyBqPR6YodUbcWnamecRSl_l46BDxjKiv1w
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN	fifa-wc-predictions-5016-e9c81.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID	fifa-wc-predictions-5016-e9c81
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET	fifa-wc-predictions-5016-e9c81.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID	911571026720
NEXT_PUBLIC_FIREBASE_APP_ID	1:911571026720:web:0cf74178eeb054a8178d45